.menu-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Carousel override */
.menu-carousel-view {
    width: 1000px;
}

.menu-item-list {
	height: 230px;
    width: 90%;
    gap: 2rem;
}

.card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 250px;
	/* background-color: var(--body-gray); */

	border-radius: 6px;
    box-shadow: 0 1px 2px 1px var(--body-gray);

}

.card-container:first-of-type{
    margin-left: 1rem;
}

.card-container:last-of-type{
    margin-right: 1rem;
}

.card-img {
	width: 250px;
	height: 125px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: none;

	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}


.card-info {
    text-align: justify;
	font-size: 0.8rem;

}

.card-cost {
    text-align: end;
    padding-right: 1rem;
}
