#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem;
}

#content-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

#upperContentPanel,
#projectDescription {
    display: flex;
    justify-content: space-between;
    align-content: center;

    width: 100%;
}

#content-view button.addTodoButton p {
    color: rgba(0, 49, 83, 0.75);
}

#content-view button.addTodoButton {
    margin-top: 1rem;
}

#content-view button.addTodoButton span {
    color: rgba(0, 49, 83, 0.75)
}

#projectButtons {
    display: flex;
    gap: .4rem;
}

.projectButton {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 1rem;
}

.projectButton:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.040);
    border-radius: 0.5rem;
    transition: ease 0.1s;
}

.projectButton.delete {
    color: rgba(195, 40, 13, 0.745);
}

#projectName {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#insideProjectAddButton {
    padding: 0.5rem;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: none;
    background: none;
    color: red;
    font-weight: 700;
}

#emptyProjectScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 25%;
    align-self: center;
    text-align: center;
}

#filterSelectionPanel[style*="display: flex"] ~ #emptyProjectScreen {
    margin-top: 5%;
}


#emptyImage {
    width: 300px;
    height: 300px;
}

.foldButton.content {
    transition: 2s ease; 
    transform: scaleX(-1);
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
}

#filterSelectionPanel {
    display: none;
    padding: 1rem 0rem;
    gap: .5rem;
}

#filterSelectionPanel #prop,
#filterSelectionPanel #value {
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.0);
    color: rgba(0, 0, 0, 0.50);
}

input[type="number"]#value {
    width: 6rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    opacity: 1;
}


#dialogOverlay {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    z-index: 5;
}
