#projectDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 480px;
}

#projectDetails input,
textarea {
  padding: 0.2rem;
  border: none;
}

#projectDetails textarea {
  resize: none;
}

#projectDetails input,
textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

#projectFormName {
  font-size: 1.5rem;
  font-weight: 700;
}

#colorSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#colorSection select {
  flex: 1;
}
#colorSection select:focus {
  outline: none;
}

#colorCircle {
  background-color: black;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

#buttonsTab {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

#buttonsTab button {
  padding: 0.25rem 0.6rem;
  border-radius: 0.4rem;
  border: none;
}

#saveProject {
  background-color: rgba(0, 49, 83, 0.5);
  color: rgba(255, 255, 255, 0.85);
}

#saveProjectbody {
  background-color: rgba(0, 49, 83, 0.25);
}

#saveProject:disabled:hover {
  cursor: not-allowed;
}

#closeProjectForm {
  background-color: rgba(195, 40, 13, 0.745);
  color: rgba(255, 255, 255, 0.85);
}

#saveProject:not([disabled]):hover {
  cursor: pointer;
  background-color: rgba(0, 49, 83, 0.75);
  color: rgba(255, 255, 255, 0.85);
}

#closeProjectForm:hover {
  cursor: pointer;
  background-color: rgba(195, 40, 13, 0.95);
  color: rgba(255, 255, 255, 0.85);
}
