#todoView {
    width: 100%;
}

.todo {
    display: flex;
    flex: 1;
    gap: 1rem;
    align-items: center;
    
    padding: 1rem;
    width: 100%;
}

.todoInfoTab {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.todoDesc {
    margin-top: auto;
}

.rightTab {
    margin-left: auto;
}

.todoDateProjectTab {
    align-self: flex-end;
    display: flex;
    gap: 0.5rem;
}

.buttonsTab {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

.todoButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;

    padding: 1rem;
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
}

.todoButton:hover {
    background-color: blanchedalmond;
}

.done .todoTitle,
.done .todoDesc {
    text-decoration: line-through
}
