dialog{
    opacity: 0;
    transition: .25s ease;
	transform: scale(0);
    top: 20%;
    justify-self: center;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem; 
}


dialog[open] {
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0 0 2rem 3px rgba(0, 0, 0, 0.25);
    
    visibility: visible;
    opacity: 1;
	transform: scale(1);
}

dialog[open]::backdrop {
    z-index: 5;
    backdrop-filter: blur(10px);
    background-color: aqua;
}

#todoForm {
    display: flex;
    flex-direction: column;
    width: 480px;
    gap: 0.5rem;
}

#upperPanel {
    display: flex;
    flex-direction: column;
}

#upperPanel input {
    padding: 0.2rem;
    border: none
}

#upperPanel input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#formTitle {
    font-size: 1.5rem;
    font-weight: 700;
}

#formDesc {
    max-width: 100%;
    overflow-y: auto;
    resize: vertical;
}

#formDesc:active,
#formDesc:focus {
  overflow-y: visible; 
}

#formOptions {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 0.5rem;
}

#formOptions input, select{
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.0);
    color: rgba(0, 0, 0, 0.50);
}

#todoForm hr {
    border: none;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
}

#lowerPanel {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

#lowerPanel button {
    padding: 0.25rem 0.6rem;
    border-radius: 0.4rem;
    border: none;
}

#saveTodo {
    background-color: rgba(0, 49, 83, 0.70);
    color: rgba(255, 255, 255, 0.85);
}

#saveTodo:disabled {
    background-color: rgba(0, 49, 83, 0.25);
}

#saveTodo:disabled:hover {
    cursor: not-allowed;
}

#closeForm {
    background-color: rgba(195, 40, 13, 0.745);
    color: rgba(255, 255, 255, 0.85);
}

#saveTodo:not([disabled]):hover {
    cursor: pointer;
    background-color: rgba(0, 49, 83, 0.75);
    color: rgba(255, 255, 255, 0.85);
}

#closeForm:hover {
    cursor: pointer;
    background-color: rgba(195, 40, 13, 0.95);
    color: rgba(255, 255, 255, 0.85);
}


