.todo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  max-height: 100px;
  padding: 1rem;
  border-bottom: 0.5px solid rgba(0, 49, 83, 0.25);
}

.leftTab {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  max-width: 40%;
}

.doneCheck {
  appearance: none;
  border-radius: 50%;
  max-width: 1.25rem;
  max-height: 1.25rem;
  outline: 1px solid rgba(0, 0, 0, 0.4);
  display: grid;
  place-content: center;
  padding: 0.25rem;
}

.doneCheck:checked {
  background-color: rgba(0, 49, 83, 0.5);
}

.doneCheck::before {
  content: "";
  transform: scale(0);
  width: 0.65em;
  height: 0.65em;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgba(255, 255, 255, 0.85);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.doneCheck:checked::before {
  transform: scale(1);
}

.todoInfoTab {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.todoDesc {
  margin-top: auto;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rightTab {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.todoDateProjectTab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.todoDateProjectTab span,
time {
  font-size: 1rem;
  color: rgba(0, 49, 83, 0.75);
}

.todoDateProjectTab .projectSymbol {
  color: initial;
}

.todoProject {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.buttonsTab {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.todoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;

  padding: 1rem;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

.todoButton:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 0.5rem;
  transition: ease 0.1s;
}

.done .todoTitle,
.done .todoDesc {
  text-decoration: line-through;
}
